<p><a href="<%= root_path %>"><< Back</a></p>

<h1><%= @presenter.title %></h1>

<% if @presenter.subscription_required %>
  <p><b>[SUBSCRIPTION REQUIRED]</b></p>
<% end %>

<% unless @presenter.subscription_required && !authenticated? %>
  <%= zype_embed_player(@presenter.id) %>
<% else %>
  <p><a href="<%= login_path %>">Authenticate Here</a></p>
<% end %>
