<p>Current Page: <%= @pagination.dig('current') %> </p>

<p>
  <% if previous_page? %>
    <%= link_to "[Previous Page]", "?page=#{@pagination.dig('previous')}" %>
  <% end %>

  <% if next_page? %>
    <%= link_to "[Next Page]", "?page=#{@pagination.dig('next')}" %>
  <% end %>
</p>
