---
http_interactions:
- request:
    method: get
    uri: https://swapi.dev/api/people/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Location:
      - http://swapi.dev/api/people/1/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Mar 2021 01:01:05 GMT
- request:
    method: get
    uri: http://swapi.dev/api/people/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://swapi.dev/api/people/1/
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.16.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 25 Mar 2021 01:01:06 GMT
- request:
    method: get
    uri: https://swapi.dev/api/people/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bf44153838a0871ffc5cc3aaee8029d0"'
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"name":"Luke Skywalker","height":"172","mass":"77","hair_color":"blond","skin_color":"fair","eye_color":"blue","birth_year":"19BBY","gender":"male","homeworld":"http://swapi.dev/api/planets/1/","films":["http://swapi.dev/api/films/1/","http://swapi.dev/api/films/2/","http://swapi.dev/api/films/3/","http://swapi.dev/api/films/6/"],"species":[],"vehicles":["http://swapi.dev/api/vehicles/14/","http://swapi.dev/api/vehicles/30/"],"starships":["http://swapi.dev/api/starships/12/","http://swapi.dev/api/starships/22/"],"created":"2014-12-09T13:50:51.644000Z","edited":"2014-12-20T21:17:56.891000Z","url":"http://swapi.dev/api/people/1/"}'
  recorded_at: Thu, 25 Mar 2021 01:01:07 GMT
recorded_with: VCR 6.0.0
